---
import { client } from "../../lib/kontent-ai";

// const { codename } = Astro.params;
// if (!codename) return Astro.redirect("/404");
// const response = await client.item(codename).toPromise();

// if (!response.data) return Astro.redirect("/404");
// const { system, elements } = response.data.item;
---

<html lang="en">
  <head>
    <!-- <title>{system.name} ({system.codename})</title> -->
  </head>
  <body>
    <h2>{ Astro.params}</h2>
    <!-- <h1>{system.name} ({system.codename})</h1>
    <time>{elements["post_date"].value}</time>
    <article set:html={elements["body_copy"].value} /> -->
  </body>
</html>
